.choosing-container{
    background-color: #f2f2eb;
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.headphones-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 45px;
    margin: 100px 50px;
}
.choice-container{
    background-color:  #d7f1d3;
    border-left: 1px solid rgba(6, 245, 6, 0.404);
}
@media screen and (max-width: 688px) {
    .headphones-container{
        grid-template-columns: repeat(1,1fr);
    }
  }
@media screen and (max-width: 1312px) {
    .headphones-container{
        grid-template-columns: repeat(2,1fr);
    }
  }